@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');


body {
  	margin: 0; line-height: normal;
}
:root {
  	
  	/* fonts */
  	--font-montserrat: Montserrat;
  	
  	/* Colors */
  	--color-darkslategray: #25523b;
  	
}
.click-here-to {
    font-size: 16px;
    font-weight: 800;
    font-family: var(--font-montserrat);
    color: #000;
    text-align: left;
    position: absolute;
    top: 280px;
}

.key-features {
    position: absolute;
    font-size: 48px;
    font-weight: 800;
    font-family: var(--font-montserrat);
    color: #25523b;
    text-align: center;
    top: 100%; /* Adjust the top position as needed */
    left: 50%;
    transform: translateX(-50%);
}

.plant{
    position: absolute;
    left: 60%;
    padding: 10px;
    margin: 25px;
}
.here-we-provide {
    position: absolute;
    top: 176px;
    left: 14px;
    line-height: 35px;
    font-weight: 500;
    color: #000;
   
    width: 724px;
}
.namaste-anna-daata {
    position: absolute;
    top: 0px;
    left: 11px;
    font-size: 30px;
    text-align: center;
}
.grow-better-for {
    position: absolute;
    top: 73px;
    left: 0px;
    font-size: 50px;
    text-align: center;
}


.here-we-provide-different-func-parent {
    position: relative;
    width: 100%;
    height: 320px;
    text-align: left;
    font-size: 25px;
    color: var(--color-darkslategray);
    font-family: var(--font-montserrat);
}

.cardcontainer{
    height: fit-content;
}

  .simple{
    color: black;
    font-weight: 500;

  }
  .upload{
    width: 228px;
    height: 102px;
    margin-bottom: 20px; 
  }
  .spokentext {
    font-family: "Courier Prime", monospace;
    font-weight: bold;
    font-size: 20px;
}